<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

</head>

<body style="width: 90%; margin: auto; font-family: IBM Plex Sans;" class="">
    <div >
        <form action="{{url_for('crud.update', post_id=data[0][7])}}" method="post" id="main_form">
            <div class="flex justify-between items-center">
                <h1>Edit post</h1>
                <div>
                    <a href="{{url_for('crud.admin')}}" class="btn btn-secondary btn-sm mr-2">Cancel</a>
                    <button type="submit" class="btn btn-dark btn-sm" id="send_button">Save changes</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Post title</label>
                <input type="text" name="post_title" value="{{ data[0][3] }}" class="form-control" id="" required>
                <div id="emailHelp" class="form-text">Use a short and catchy one</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Post description</label>
                <input type="text" value="{{ data[0][4] }}" name="post_description" class="form-control" id="" required>
                <div id="emailHelp" class="form-text">Describe in a few words your post</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Post cover</label>
                <input type="text" value="{{ data[0][8] }}" name="post_cover" class="form-control" id="" required>
                <div id="emailHelp" class="form-text">Paste the image URL</div>
            </div>
    
            <label for="exampleInputEmail1" class="form-label">Post content</label>
            <div contenteditable="true" class="form-control p-2 w-full mb-3" style="min-height: 120px;"
                id="contenteditable">
                {{ data[0][5] | safe }}
            </div>
    
            <input type="text" class="form-control" id="img_url" placeholder="Post the image URL here">
            <button class="btn btn-dark mt-3" id="addImageButton">Add image</button>
            <input type="hidden" name="post_content" id="input_for_value">
        </form>
    </div>
    

    <script type="module">
        const contentEditable = document.getElementById('contenteditable');
        const imgUrl = document.getElementById('img_url');
        const addImageButton = document.getElementById('addImageButton');
        addImageButton.addEventListener('click', function (event) {
            event.preventDefault();
            const imgUrlValue = imgUrl.value;
            if (imgUrlValue) {
                const img = document.createElement('img');
                const gap = document.createElement('br');
                img.src = imgUrlValue;
                contentEditable.appendChild(img);
                contentEditable.appendChild(gap);
                imgUrl.value = ''; // Clear the input field after adding the image
            } else {
                alert('Please enter a valid image URL.');
            }
        })
        const sendButton = document.getElementById('send_button');
        const inputForValue = document.getElementById('input_for_value');
        sendButton.addEventListener('click', function (event) {
            getData()
        });
        function getData() {
            const content = contentEditable.innerHTML;
            console.log(content)
            inputForValue.value = content;
        }
    </script>

    <style>
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        .form-control:focus {
            border-color: black !important;
        }

        .form-control:focus {
            border-color: black !important;
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
        }
    </style>
</body>

</html>