<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstdap@5.3.5/dist/css/bootstdap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body style="width: 90%; height: 100vh; margin: auto; font-family: IBM Plex Sans;" class="">
    <h1>Stats</h1>
    <p>See all your stats</p>
    {% if visits %}
    <ul class="list-group list-group-horizontal-lg w-full">
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Total visits</h5>
                <h2>{{ visits }}</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Amount of people that has read your posts</p>
            </div>
        </li>
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Users registered</h5>
                <h2>{{ all_registers|length if all_registers is not none else 0 }}</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Amount of people that has suscribed to you</p>
            </div>
        </li>
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Posts created</h5>
                <h2>{{ posts if posts else 0 }}</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Remaining on your plan: -</p>
            </div>
        </li>
    </ul>
    <div class="py-3">
        <h2 class="">Users registered</h2>
        <p>See all the users who are registered to your page</p>
    </div>
    <div class="table-responsive h-72 overflow-y-scroll">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <th></th>
                <th>User email</th>
                <th>User suscribed from</th>
                <th>User suscribed date</th>
            </thead>
            <tbody>
                {% for user in all_registers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <ul class="list-group list-group-horizontal-lg w-full">
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Total visits</h5>
                <h2>0</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Amount of people that has read your posts</p>
            </div>
        </li>
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Users registered</h5>
                <h2>{{ all_registers|length if all_registers is not none else 0 }}</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Amount of people that has suscribed to you</p>
            </div>
        </li>
        <li class="list-group-item w-full">
            <div class="card-body p-2">
                <h5 class="card-title">Posts created</h5>
                <h2>{{ posts if posts else 0 }}</h2>
                <p class="card-subtitle mb-2 text-body-secondary">Remaining on your plan: -</p>
            </div>
        </li>
    </ul>
    <div class="py-3">
        <h2 class="">Users registered</h2>
        <p>See all the users who are registered to your page</p>
    </div>
    <div class="table-responsive h-72 overflow-y-scroll">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <th></th>
                <th>User email</th>
                <th>User suscribed from</th>
                <th>User suscribed date</th>
            </thead>
        </table>
    </div>
    {% endif %}
</body>

</html>
